layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="startup" {
    pane {
      command "zsh"
      args "-c" "if ! systemctl is-active docker; then sudo systemctl start docker && docker compose up -d; fi; docker compose -f app/db/docker-compose.yml up -d"
      focus true
      close_on_exit true
    }
  }
  tab name="bruss_api" {
    pane command="nvim" cwd="app/api"
    pane {
      command "cargo"
      args "watch" "-x" "run -p bruss_api"
      size "20%"
    }
  }
  tab name="bruss_data" {
    pane command="nvim" cwd="data"
  }
  tab name="bruss_config" {
    pane command="nvim" cwd="config"
  }
  tab name="bruss_router" {
    pane command="nvim" cwd="router"
  }
  tab name="tt" {
    pane command="nvim" cwd="tt"
  }
  tab name="cli" cwd="app/client" {
    pane command="nvim"
    pane size="20%"
  }
  tab name="utils" {
    pane {
      command "zsh"
      args "-c" "docker compose -f app/db/docker-compose.yml exec -it db mongosh -u bruss -p $(cat app/db/.env | grep BRUSS_DB_PASSWORD | cut -d= -f2)"
    }
  }
}
